<html>
<head>
  <title>受注／発注シート</title>
</head>
<body>

<h1>受発注情報管理システム</h1>

<h2>受発注情報管理機能</h2>
受発注情報一覧<br>
受注情報登録<br>
発注情報登録<br>

<h2>マスタメンテ機能</h2>
<%= link_to '取引先マスタ', new_company_masters_path %>
社員マスタ<br>
案件マスタ<br>
業務マスタ<br>
職制マスタ<br>
部署マスタ<br>
入金サイトマスタ<br>

</body>
</html>
