<fieldset>
  <tr>
    <th width="5%"><%= cnt %></td>
      <td width="45%"><%= od.date_select :order_date, :include_blank => true, :use_month_numbers => true %></br></td>
    <th width="10%">期間</td>
      <td width="40%"></br></td>
  </tr>
</fieldset>