<p id="notice"><%= notice %></p>

<p>
  <strong>Unit name:</strong>
  <%= @unit_master.unit_name %>
</p>


<%= link_to 'Edit', edit_unit_master_path(@unit_master) %> |
<%= link_to 'Back', unit_masters_path %>
