
<% content_for :header_nav_bar do %>
    <div id="nav_bar">
      <ul>
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'ABOUT', '#' %></li>
        <li><%= link_to 'CONTACT', '#' %></li>
        <li><a></a></li>
      </ul>
    </div>
<% end %>
<% content_for :header_image do %>
    <div id="header_title">
      <span>Toki.tb</span>
    </div>
    <div id="header_image">
    <%= image_tag 'images/logo_tbn.png' %>
    </div>
<% end %>